
<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

    <% @posts.each do |post| %>
    <div class="well">
      
      <div class="row-fluid">
        <div class="span 8 offset1">
          <h4> <%= link_to post.title, post_path(post) %> </h4>
        </div>
        <div class="span8 offset1">
          
          <%= image_tag post.picture.url(:large) %>
        </div>
        <div class="span2">
         <span>
            From <%= post.user.username %>
          </span>
          <br>
          <span>
            Before <%=time_ago_in_words (post.created_at) %>
          </span>
          
        </div>
    </div>
      <p> Tags </p>
      <% post.tags.each do |tag| %>
        <p> <%= link_to  tag.name, tags_show_path(tag.name) %> </p>
      <% end %>
      <% if user_signed_in? && current_user == post.user  %>
       <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        |<% end %>

       
      
    </div>
    <hr>
    <% end %>
    <% if user_signed_in? && current_user == @user %>
     <%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
    <% end %>